.DS_Store
node_modules
/dist
.eslintignore
.vscode

/types/AutoImportElement.d.ts
/types/AutoImportVue.d.ts

# local env files
.env.local
.env.*.local

# Log files
.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tgitconfig
/.vscode/settings.json
/.vscode/
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/package-lock.json
/package-lock.json
/yarn.lock
# Vscode File
.vscode/*
!.vscode/settings.json
.vscode
